<div class="col-md-12 modal-body">
  <div class="col-md-6 col-md-offset-3 ">
    <h1>編輯影片</h1>
    <%= form_for @video, :url => video_path(@video), :method => :patch do |f| %>
    <%= render :partial => 'form', :locals => { :f => f} %>
    <% end %>
  </div>
</div>